* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	/* border: red solid 1px; */
}

#root {
	display: grid;
	grid-template-columns: 14rem 1fr;
	--blue: rgb(29, 155, 240);
	--white: #fff;
	--opa-white: rgba(255, 255, 255, 0.8);
	--tint: #eaedee;
	--tint-light: #f0f0f0;
	--placeholder: #7e7e7e;
	--main-shadow: 0px 3.3px 25.2px -11px rgba(0, 0, 0, 0.48), 0px 23px 388px -11px rgba(0, 0, 0, 0.212);
}

main {
	columns: 2;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: 2rem;
}
#home {
	flex-direction: column;
}

header {
	columns: 1;
	position: sticky;
	top: 0;
	background-color: #ffd301;
	display: grid;
	grid-template-rows: 0.5fr 0.5fr 3fr;
	height: 100vh;
	width: 100%;
}

nav,
header div:nth-child(3) {
	position: relative;
}

nav:before {
	content: "";
	position: absolute;
	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 2px;
	background-color: #d7a900;
}

header div:first-child {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-inline: 1rem;
}

header > div:last-child {
	margin: 1rem;
	align-self: flex-end;
}

header svg {
	margin-inline-end: 0.7rem;
	width: 1.7rem;
	height: auto;
}

nav ul {
	display: flex;
	flex-direction: column;
	padding: 0;
}

ul li {
	margin-inline: 1rem;
	margin-block-start: 0.6rem;
	display: flex;
	align-items: center;
}
li a {
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding: 0.3rem 0.5rem;
}

table {
	width: 100%;
}

th {
	text-align: left;
}
td {
	padding-block: 0.6rem;
	text-align: left;
	font-size: 1.5rem;
	font-weight: 400;
}

.cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(min-content, max-content);
	min-height: 100vh;
	min-width: 90%;

	overflow: hidden;
	/* box-shadow: 0 0.1rem 0.6rem 0.1rem rgba(0, 0, 0, 0.282); */
}

.cards h2 {
	display: inline-block;
	padding: 0.3rem 0.5rem;
}

.cards article {
	padding: 0.6rem;
	align-self: flex-start;
}

.cards tbody:nth-child(even) {
	background-color: aliceblue;
}
.cards tbody:nth-child(odd) {
	background-color: rgb(242, 242, 242);
}

.data_box {
	width: 100%;
	max-width: 900px;
	border: 1px solid var(--tint);
	box-shadow: var(--main-shadow);
	padding: 2rem;
	border-radius: 1rem;
	margin: 1rem;
}

input,
textarea,
select {
	font-size: inherit;
	font-family: inherit;
	padding: 0.5rem;
}
form {
	display: grid;
	grid-gap: 1rem;
	margin-top: 2rem;
}
label {
	font-size: 1.1rem;
}
select {
	width: 50%;
}
.input_wrapper {
	display: grid;
	grid-gap: 0.2rem;
}

.btn_container {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}
button {
	font-family: "Inconsolata", monospace;
	font-size: 1.5rem;
	padding: 0.5rem 1.5rem;
	border: none;
	background-color: var(--blue);
	color: white;
	border: 2px solid transparent;

	border-radius: 0.5rem;
	box-shadow: var(--main-shadow);
	cursor: pointer;
	place-self: center;
	transition: background 250ms, border 250ms, color 250ms;
}
button:hover,
button:focus {
	background-color: var(--white);
	color: var(--blue);
	border: 2px solid var(--blue);
}

.active {
	background-color: rgb(255, 140, 0);

	border-radius: 4px;
}
